## Label Encoding

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame({
    'colors' : ['red', 'blue', 'green', 'green', 'red', 'blue']
})

df.head()

  colors
0    red
1   blue
2  green
3  green
4    red

In [4]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder = LabelEncoder()

In [5]:
lbl_encoded = lbl_encoder.fit_transform(df[['colors']])

lbl_encoded

g:\Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [6]:
lbl_encoded_df = pd.DataFrame(lbl_encoded, columns=['encoded_colors'])

lbl_encoded_df

   encoded_colors
0               2
1               0
2               1
3               1
4               2
5               0

colors will be assigned the numbers as per their alphabetical order 

red -> 2 <br>
blue -> 0 <br>
green -> 1


The numbers will range from 0 to total_categories - 1

In [7]:
final_df = pd.concat([df, lbl_encoded_df], axis=1)

final_df

  colors  encoded_colors
0    red               2
1   blue               0
2  green               1
3  green               1
4    red               2
5   blue               0

In [8]:
new_val = [['blue']]

encoded_val = lbl_encoder.transform(new_val)

encoded_val

g:\Feature Engineering\venv\lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([0])