In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

## Create a DataFrame

In [2]:
df = pd.DataFrame({
    'color': ['red', 'blue', 'green', 'green', 'red', 'blue']
})

df.head()

   color
0    red
1   blue
2  green
3  green
4    red

## One Hot Encoding

In [3]:
## Create an instance of OneHotEncoder

encoder = OneHotEncoder()

In [4]:
encoded = encoder.fit_transform(df[['color']]).toarray()

encoded

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

blue, green, red     (Alphabetical order)

In [6]:
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

encoded_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [7]:
new_data = [['blue']]

encoded_new = encoder.transform(new_data).toarray()

encoded_new

g:\Feature Engineering\venv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [8]:
final_df = pd.concat([df, encoded_df], axis=1)

final_df

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0