## Ordinal Encoding

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'size' : ['small', 'medium', 'large', 'medium', 'small', 'large']
})

df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [4]:
from sklearn.preprocessing import OrdinalEncoder

ordinal_encoder = OrdinalEncoder(categories=[['small', 'medium', 'large']])

In [6]:
ordinal_encoded = ordinal_encoder.fit_transform(df[['size']])

ordinal_encoded

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [7]:
ordinal_encoded_df = pd.DataFrame(ordinal_encoded, columns=['encoded_size'])

ordinal_encoded_df

   encoded_size
0           0.0
1           1.0
2           2.0
3           1.0
4           0.0
5           2.0

In [8]:
final_df = pd.concat([df, ordinal_encoded_df], axis=1)

final_df

     size  encoded_size
0   small           0.0
1  medium           1.0
2   large           2.0
3  medium           1.0
4   small           0.0
5   large           2.0

In [9]:
new_val = [['small']]
encoded_val = ordinal_encoder.transform(new_val)
encoded_val

g:\Feature Engineering\venv\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[0.]])